body {
  padding-top: 70px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.column {
  padding-right: 0;
}

.card {
  .card-bottom {
    border-top: 1px solid #ddd;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer {
  background-color: #222;
  color: #fff;
  min-height: 50px;
}
