button,
.button {
  color: $whiteColor;
  background-color: $primaryColor;
  border-radius: $borderRadius;
  font-size: 15px;
  border: 1px solid $primaryColor;
  cursor: pointer;
  height: 34px;
  padding-left: $freeSpace;
  padding-right: $freeSpace;
  display: flex;
  align-items: center;

  &.inverse {
    color: $primaryColor;
    background-color: $whiteColor;
  }

  &.secondary {
    background-color: $secondaryColor;
    border: 1px solid $secondaryColor;
  }

  &:active {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    text-decoration: none;
  }

  &.small {
    font-size: 12px;
    padding-left: $freeSpace / 2;
    padding-right: $freeSpace / 2;
    height: 24px;
  }

  svg {
    fill: currentColor;
    margin-left: 5px;
  }
}

input {
  background-color: $whiteColor;
  border-radius: $borderRadius;
  border: 1px solid $greyColor;
  display: table;
  border-collapse: separate;
  height: 36px;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;

  &:disabled {
    background-color: $greyColor;
  }

  &:hover {
    box-shadow: 0;
  }
  &:focus {
    border-color: #a19679;
  }
}

.Select-control {
  border-color: $greyColor;
  margin-bottom: 1.3em;
}

.Select-input {
  input {
    padding-top: 0px;
    &:focus {
      border: 0;
    }
  }
}

.Select.is-open > .Select-control {
  border-color: #a19679;
}
.Select-menu-outer {
  border-color: #a19679;
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3em;

  label {
    font-weight: bold;
    margin-bottom: 1px;
    margin-left: 2px;
  }
}
