.popup {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;

  .inner {
    width: 400px;
    background: white;
    border-radius: $borderRadius;
    padding: $freeSpace;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .button {
      width: auto;
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      height: 50px;
    }
    .bottom {
      padding-top: $freeSpace;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid $greyColor;
    }
  }
  /* Landscape phones and smaller */
  @media (max-width: 480px) {
    .inner {
      width: 100%;
    }
  }
}
